In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('realest.csv')
df.head()

   Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0   53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1   55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2   56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3   58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4   64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      156 non-null    float64
 1   Bedroom    156 non-null    float64
 2   Space      146 non-null    float64
 3   Room       156 non-null    float64
 4   Lot        146 non-null    float64
 5   Tax        147 non-null    float64
 6   Bathroom   156 non-null    float64
 7   Garage     156 non-null    float64
 8   Condition  156 non-null    float64
dtypes: float64(9)
memory usage: 11.2 KB

In [5]:
df.describe()

            Price     Bedroom        Space  ...    Bathroom      Garage   Condition
count  156.000000  156.000000   146.000000  ...  156.000000  156.000000  156.000000
mean    56.474359    3.166667  1097.246575  ...    1.480769    0.846154    0.230769
std     12.875307    1.348037   462.540698  ...    0.529408    0.808454    0.422682
min     32.000000    1.000000   539.000000  ...    1.000000    0.000000    0.000000
25%     46.000000    2.000000   805.250000  ...    1.000000    0.000000    0.000000
50%     55.000000    3.000000   965.500000  ...    1.500000    1.000000    0.000000
75%     65.000000    4.000000  1220.500000  ...    2.000000    1.500000    0.000000
max     90.000000    8.000000  2295.000000  ...    3.000000    2.000000    1.000000

[8 rows x 9 columns]

In [6]:
df.isna().sum()

Price         1
Bedroom       1
Space        11
Room          1
Lot          11
Tax          10
Bathroom      1
Garage        1
Condition     1
dtype: int64

In [7]:
#dropping single value using dropna
df_new = df.copy()
cols = ['Price','Bedroom','Room','Bathroom','Garage','Condition']
df_new = df_new.dropna(subset=cols)
df_new.isna().sum()

Price         0
Bedroom       0
Space        10
Room          0
Lot          10
Tax           9
Bathroom      0
Garage        0
Condition     0
dtype: int64

In [8]:
col = ['Space','Lot','Tax']
df_final = df_new.copy()
df_final[col] = df_final[col].fillna(-999)

In [9]:
df_final.isna().sum()

Price        0
Bedroom      0
Space        0
Room         0
Lot          0
Tax          0
Bathroom     0
Garage       0
Condition    0
dtype: int64

In [12]:
#finding covariance with Price column to understand the realtionship with other features in dataframe

price_corr = df_final.corr()['Price']
price_corr_sorted = price_corr.sort_values(ascending=False)
price_corr_sorted

Price        1.000000
Room         0.578480
Garage       0.553105
Bathroom     0.538485
Space        0.443076
Tax          0.395465
Bedroom      0.302451
Condition    0.079336
Lot          0.062433
Name: Price, dtype: float64

In [13]:
## We found out that Room,Garage,Bathroom & Space are the most correlated features to the traget variable as Prices of chicago houses.

In [14]:
## Train - test split & fiting linear regression model 
features = ['Room','Garage','Bathroom','Space','Tax','Bedroom','Condition','Lot']
X = df_final.loc[:,features]
y = df_final.loc[:,['Price']]

In [15]:
df_final_shuffle = df_final.sample(frac=1, random_state=42).reset_index(drop=True)
split_ratio = 0.8
split_index = int(len(df_final_shuffle) * split_ratio)

X_train = X.iloc[:split_index,:]
X_test = X.iloc[:split_index,:]
y_train = y.iloc[:split_index,:]
y_test = y.iloc[:split_index,:]

# Display the shapes of the datasets
print("Training set X:", X_train.shape, "y:", y_train.shape)
print("Testing set X:", X_test.shape, "y:", y_test.shape)

Training set X: (124, 8) y: (124, 1)
Testing set X: (124, 8) y: (124, 1)

In [19]:
# fiting the model

model = LinearRegression()
model.fit(X_train,y_train)

y_pred = model.predict(X_test)

residuals = y_test.values.flatten() - y_pred.flatten()

mse = np.mean(residuals ** 2)

Mean Squared Error (manual calculation with NumPy): 55.34

In [18]:
# Print the Mean Squared Error
print(f"Mean Squared Error (manual calculation): {mse:.2f}")

# Print predictions and actual values in a formatted way
print("\nPredictions vs Actual Values:")
print(f"{'Predicted Price':<20} {'Actual Price':<20} {'Difference':<20}")
print("-" * 60)

# Print each predicted value alongside the actual value and their difference
for predicted, actual in zip(y_pred.flatten(), y_test.values.flatten()):
    difference = predicted - actual
    print(f"{predicted:<20.2f} {actual:<20.2f} {difference:<20.2f}")

Mean Squared Error (manual calculation): 55.34

Predictions vs Actual Values:
Predicted Price      Actual Price         Difference
------------------------------------------------------------
49.81                53.00                -3.19
58.21                55.00                3.21
51.94                56.00                -4.06
62.13                58.00                4.13
65.00                64.00                1.00
60.27                44.00                16.27
52.19                49.00                3.19
71.36                70.00                1.36
62.89                72.00                -9.11
75.49                82.00                -6.51
81.78                85.00                -3.22
46.91                45.00                1.91
46.18                47.00                -0.82
50.56                49.00                1.56
59.08                56.00                3.08
47.08                60.00                -12.92
58.45                62.00                -3.55
59.62                64.00                -4.38
55.47                66.00                -10.53
50.12                35.00                15.12
45.29                38.00                7.29
32.20                43.00                -10.80
46.64                46.00                0.64
52.01                46.00                6.01
59.84                50.00                9.84
64.44                65.00                -0.56
53.85                54.00                -0.15
62.53                58.00                4.53
56.30                58.00                -1.70
62.21                61.00                1.21
65.22                62.00                3.22
64.33                46.00                18.33
56.27                49.00                7.27
71.45                70.00                1.45
59.58                72.00                -12.42
71.63                81.00                -9.37
81.77                88.00                -6.23
42.72                45.00                -2.28
46.01                47.00                -0.99
54.93                47.00                7.93
54.66                55.00                -0.34
51.21                61.00                -9.79
62.55                64.00                -1.45
68.38                65.00                3.38
55.62                64.00                -8.38
45.81                35.00                10.81
41.33                36.00                5.33
45.93                42.00                3.93
42.14                48.00                -5.86
48.36                45.00                3.36
59.74                53.00                6.74
64.32                66.00                -1.68
45.58                50.00                -4.42
53.85                57.00                -3.15
56.19                59.00                -2.81
62.32                56.00                6.32
57.56                65.00                -7.44
60.26                44.00                16.26
57.43                51.00                6.43
75.36                70.00                5.36
68.20                70.00                -1.80
80.07                84.00                -3.93
86.31                85.00                1.31
42.34                45.00                -2.66
42.28                47.00                -4.72
46.25                52.00                -5.75
63.55                55.00                8.55
42.60                61.00                -18.40
57.81                65.00                -7.19
68.57                66.00                2.57
59.45                69.00                -9.55
49.85                34.00                15.85
49.47                39.00                10.47
40.89                44.00                -3.11
42.52                43.00                -0.48
48.11                43.00                5.11
55.81                53.00                2.81
60.00                63.00                -3.00
49.94                54.00                -4.06
47.09                52.00                -4.91
51.86                56.00                -4.14
62.04                55.00                7.04
65.11                66.00                -0.89
60.42                41.00                19.42
53.29                51.00                2.29
63.96                71.00                -7.04
63.99                73.00                -9.01
75.39                80.00                -4.61
81.80                88.00                -6.20
47.10                47.00                0.10
45.99                50.00                -4.01
50.65                52.00                -1.35
59.10                58.00                1.10
47.12                59.00                -11.88
58.42                62.00                -3.58
63.47                61.00                2.47
55.51                67.00                -11.49
50.14                34.00                16.14
45.14                36.00                9.14
42.14                46.00                -3.86
46.59                46.00                0.59
52.04                47.00                5.04
59.82                51.00                8.82
64.38                65.00                -0.62
54.06                55.00                -0.94
62.54                61.00                1.54
56.16                58.00                -1.84
62.25                64.00                -1.75
65.31                63.00                2.31
64.46                45.00                19.46
57.56                49.00                8.56
71.71                73.00                -1.29
54.41                70.00                -15.59
71.57                81.00                -9.43
81.79                90.00                -8.21
42.65                44.00                -1.35
45.98                44.00                1.98
55.03                44.00                11.03
54.34                57.00                -2.66
51.18                63.00                -11.82
62.56                65.00                -2.44
59.73                68.00                -8.27
55.91                63.00                -7.09
45.88                37.00                8.88